# anita4/.ebextensions/01_node_commands.config
# Installs PM2 globally using the Node.js provided by the EB platform.
commands:
  01_install_pm2:
    command: "sudo npm install pm2 -g"
    # ignoreErrors: true # Set to true if you want deployment to continue even if pm2 install fails (not recommended)